@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'InterMedium';
  src: url('../../public/fonts/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('../../public/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url('../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Zrnic';
}

h1, h2, h3 {
  font-family: 'MontserratBold';
}

